<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipes App</title>
  </head>
  <body>

    <a href="/recipes">Browse Recipes</a>
    <h1>Welcome to the Recipes app!</h1>
    <p>An app for collecting your favorite recipes.</p>
  </body>
</html>