<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipes App</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <a href="/recipes">
      <h1>To the "Recipes app!"</h1>
    </a>
    <p>An app for collecting your favorite Recipes.</p>
    <a href="/recipes/new">Add New Recipe</a> | <a href="/recipes">View Recipes</a>
  </body>
</html>
